#clock
{
	height:500px;
	width:500px;
	background-image:url('../image/clock.gif');
	background-repeat:no-repeat;
	margin: 0px auto;
	background-size:cover;
	position:relative;
}
#hr
{
	//display:none;
	height:150px;
	width:7px;
	background-color:red;
	position:absolute;
	left:244px;
	top:100px;
	transform-origin:bottom;
}
#min
{	//display:none;
	top:90px;
	left:245px;
	height:160px;
	width:5px;
	background-color:orange;
	position:absolute;
	transform-origin:bottom;

}
#sec
{	top:80px;
	left:246px;
	height:170px;
	width:3px;
	background-color:green;
	position:absolute;
	transform-origin:bottom;
}